* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
button,
input,
textarea,
select {
  font-family: inherit;
}

/* Main css */
:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --background: #f6f5f6;

  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */

  --fs-body: 0.9375rem; /* 15px */
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.5;
  background: var(--background);
  min-height: 100vh;
}
.main {
  display: grid;
  place-items: center;
}
.testimonials {
  display: grid;
  gap: 2rem; /* 32px */
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";

  padding: 4.6875rem 2.1875rem; /* 75px 35px */
}
.card {
  border-radius: 0.5rem; /* 8px */
  padding: var(--spacing-400);

  color: var(--white);
  background-color: var(--white);
  /* Drop Shadow */
  box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.25); /* 40px 60px 50px -47px */
}

.card--a {
  grid-area: a;
  background-color: var(--purple-500);
}
.card--b {
  background-color: var(--grey-500);
  grid-area: b;
}
.card--c {
  grid-area: c;
  color: var(--grey-400);
}
.card--d {
  grid-area: d;
  background-color: var(--dark-blue);
}
.card--e {
  grid-area: e;
  color: var(--grey-400);
}

.author-profile {
  display: flex;
  align-items: center;
  gap: 1.0625rem; /* 17px */
}
.author-profile__image {
  border-radius: 50%;
}
.decorative-border {
  outline: 0.125rem solid hsl(264, 82%, 70%); /* 2px */
}

.author-profile__info {
  display: grid;
  gap: 0.25rem; /* 4px */
}
.author-profile__name {
  font-size: 0.8125rem; /* 13px */
  font-weight: 500;
  line-height: 1.1; /* ~0.89375rem (14.3px) */
}
.author-profile__position {
  font-size: 0.6875rem; /* 11px */
  font-weight: 500;
  line-height: 1.1; /* ~0.66875rem (12.1px) */
  color: var(--purple-50);
}
.main-feedback {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: 1.2; /* 1.5rem (24px) */
  margin-block: 1rem; /* 16px */
}
.detail-feedback {
  font-size: 0.8125rem; /* 13px */
  font-weight: 500;
  line-height: 1.4; /* ~1.1375rem (18.2px) */
}

/* Media queries */
@media (min-width: 48rem) {
  /* 768px */
  .testimonials {
    grid-template-areas:
      "a a"
      "b c"
      "b c"
      "d d"
      "e e";
    padding-block: 5.1875rem; /* 83px */
    padding-inline: 3.75rem; /* 60px */
  }
  .card.quote {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 22%;
  }
}

@media (min-width: 69.625rem) {
  /* 1114px */
  .testimonials {
    grid-template-areas:
      "a a b e"
      "c d d e";
    grid-template-columns: repeat(4, 15.9375rem); /* 255px */
    padding-inline: 0; /* 0px */
  }
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
