* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
button,
input,
textarea,
select {
  font-family: inherit;
}

/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/poppins-v24-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("./fonts/poppins-v24-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/poppins-v24-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  --fs-body: 15px;
  --fs-title: 24px;

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  @media (min-width: 1114px) {
    --fs-title: 36px;
  }
}

body {
  font-family: Poppins, sans-serif;
  font-size: var(--fs-body);
  color: var(--grey-500);
  line-height: 1.5;
  min-height: 100dvh;
}

.text-preset-1 {
  font-size: var(--fs-title);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.25px;
}
.text-preset-2 {
  font-size: var(--fs-title);
  font-weight: 275;
  line-height: 1.4;
  letter-spacing: 0.25px;
}
.text-preset-3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.35; /* 27px */
}
.text-preset-4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 21px */
  letter-spacing: 0.104px;
}
.text-preset-5 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.09px;
}
.border-cyan {
  border-top: 4px solid var(--color-cyan);
}
.border-red {
  border-top: 4px solid var(--color-red);
}
.border-orange {
  border-top: 4px solid var(--color-orange);
}
.border-blue {
  border-top: 4px solid var(--color-blue);
}

/* ---- Layout Styles ---- */
.feature-section {
  padding-top: 54px;
  padding-bottom: 46px;
  padding-inline: 30px;
}
.feature-text {
  max-width: 540px;
  margin-inline: auto;
}
.feature-subtitle,
.feature-title,
.feature-description {
  text-align: center;
}
.feature-description {
  margin-block-start: var(--spacing-200);
  margin-block-end: 60px;
}
.feature-cards {
  display: grid;
  gap: var(--spacing-400, 32px);
  max-width: 1114px;
  margin-inline: auto;
}
.card {
  padding: var(--spacing-400, 32px);
  border-radius: var(--spacing-100, 8px);
  background: var(--color-white, #fff);
  /* Drop Shadow */
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.card-des {
  margin-block-start: 6px;
  color: var(--grey-400);
}
.card-icon {
  margin-block-start: var(--spacing-400, 32px);
  margin-inline-start: auto;
}

/* Media queries */
@media (min-width: 660px) {
  .feature-description {
    margin-block-end: 74px;
  }

  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .card:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    width: 50%;
  }
  .card:last-child {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: center;
    width: 50%;
  }
  .feature-section {
    padding: var(--spacing-1600, 80px) 54px;
  }
}

@media (min-width: 1114px) {
  .feature-cards {
    grid-template-columns: repeat(3, minmax(min(350px, 100%), 1fr));
    grid-template-rows: repeat(2, auto);
  }
  .card:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }
  .card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: auto;
  }
  .card:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .card:last-child {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
    width: auto;
  }
  .feature-section {
    padding-inline: 0px;
  }
}
